/* Color Theme Swatches in Hex */
.Säker-Switzerland-Sparbank-1-hex { color: #F2F2F2; }
.Säker-Switzerland-Sparbank-2-hex { color: #8C8C8C; }
.Säker-Switzerland-Sparbank-3-hex { color: #595959; }
.Säker-Switzerland-Sparbank-4-hex { color: #262626; }
.Säker-Switzerland-Sparbank-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Säker-Switzerland-Sparbank-1-rgba { color: rgba(242, 242, 242, 1); }
.Säker-Switzerland-Sparbank-2-rgba { color: rgba(140, 140, 140, 1); }
.Säker-Switzerland-Sparbank-3-rgba { color: rgba(89, 89, 89, 1); }
.Säker-Switzerland-Sparbank-4-rgba { color: rgba(38, 38, 38, 1); }
.Säker-Switzerland-Sparbank-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Säker-Switzerland-Sparbank-1-hsla { color: hsla(0, 0, 95, 1); }
.Säker-Switzerland-Sparbank-2-hsla { color: hsla(0, 0, 55, 1); }
.Säker-Switzerland-Sparbank-3-hsla { color: hsla(0, 0, 35, 1); }
.Säker-Switzerland-Sparbank-4-hsla { color: hsla(0, 0, 15, 1); }
.Säker-Switzerland-Sparbank-5-hsla { color: hsla(0, 0, 5, 1); }


/* Color Theme Swatches in Hex */
.TESORO-ONE-|-The-Manual-Toothbrush-1-hex { color: #BFBFBF; }
.TESORO-ONE-|-The-Manual-Toothbrush-2-hex { color: #A6A6A6; }
.TESORO-ONE-|-The-Manual-Toothbrush-3-hex { color: #595959; }
.TESORO-ONE-|-The-Manual-Toothbrush-4-hex { color: #262626; }
.TESORO-ONE-|-The-Manual-Toothbrush-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.TESORO-ONE-|-The-Manual-Toothbrush-1-rgba { color: rgba(191, 191, 191, 1); }
.TESORO-ONE-|-The-Manual-Toothbrush-2-rgba { color: rgba(165, 165, 165, 1); }
.TESORO-ONE-|-The-Manual-Toothbrush-3-rgba { color: rgba(89, 89, 89, 1); }
.TESORO-ONE-|-The-Manual-Toothbrush-4-rgba { color: rgba(38, 38, 38, 1); }
.TESORO-ONE-|-The-Manual-Toothbrush-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.TESORO-ONE-|-The-Manual-Toothbrush-1-hsla { color: hsla(0, 0, 75, 1); }
.TESORO-ONE-|-The-Manual-Toothbrush-2-hsla { color: hsla(0, 0, 65, 1); }
.TESORO-ONE-|-The-Manual-Toothbrush-3-hsla { color: hsla(0, 0, 35, 1); }
.TESORO-ONE-|-The-Manual-Toothbrush-4-hsla { color: hsla(0, 0, 15, 1); }
.TESORO-ONE-|-The-Manual-Toothbrush-5-hsla { color: hsla(0, 0, 5, 1); }


/* Color Theme Swatches in Hex */
.Invisible-design-studio-1-hex { color: #585859; }
.Invisible-design-studio-2-hex { color: #D9D9D9; }
.Invisible-design-studio-3-hex { color: #404040; }
.Invisible-design-studio-4-hex { color: #262626; }
.Invisible-design-studio-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Invisible-design-studio-1-rgba { color: rgba(88, 88, 89, 1); }
.Invisible-design-studio-2-rgba { color: rgba(216, 216, 216, 1); }
.Invisible-design-studio-3-rgba { color: rgba(63, 63, 63, 1); }
.Invisible-design-studio-4-rgba { color: rgba(38, 38, 38, 1); }
.Invisible-design-studio-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Invisible-design-studio-1-hsla { color: hsla(236, 0, 34, 1); }
.Invisible-design-studio-2-hsla { color: hsla(0, 0, 85, 1); }
.Invisible-design-studio-3-hsla { color: hsla(0, 0, 25, 1); }
.Invisible-design-studio-4-hsla { color: hsla(0, 0, 15, 1); }
.Invisible-design-studio-5-hsla { color: hsla(0, 0, 5, 1); }


/* Color Theme Swatches in Hex */
.Matte-Black-1-hex { color: #242424; }
.Matte-Black-2-hex { color: #101010; }
.Matte-Black-3-hex { color: #282828; }
.Matte-Black-4-hex { color: #242424; }
.Matte-Black-5-hex { color: #363636; }

/* Color Theme Swatches in RGBA */
.Matte-Black-1-rgba { color: rgba(35, 35, 35, 1); }
.Matte-Black-2-rgba { color: rgba(16, 16, 16, 1); }
.Matte-Black-3-rgba { color: rgba(40, 40, 40, 1); }
.Matte-Black-4-rgba { color: rgba(35, 35, 35, 1); }
.Matte-Black-5-rgba { color: rgba(54, 54, 54, 1); }

/* Color Theme Swatches in HSLA */
.Matte-Black-1-hsla { color: hsla(0, 0, 14, 1); }
.Matte-Black-2-hsla { color: hsla(0, 0, 6, 1); }
.Matte-Black-3-hsla { color: hsla(0, 0, 15, 1); }
.Matte-Black-4-hsla { color: hsla(0, 0, 14, 1); }
.Matte-Black-5-hsla { color: hsla(0, 0, 21, 1); }


/* Color Theme Swatches in Hex */
.Rozetka---Redesign-Concept-1-hex { color: #260115; }
.Rozetka---Redesign-Concept-2-hex { color: #04BF45; }
.Rozetka---Redesign-Concept-3-hex { color: #03A63C; }
.Rozetka---Redesign-Concept-4-hex { color: #078C36; }
.Rozetka---Redesign-Concept-5-hex { color: #11592A; }

/* Color Theme Swatches in RGBA */
.Rozetka---Redesign-Concept-1-rgba { color: rgba(38, 0, 21, 1); }
.Rozetka---Redesign-Concept-2-rgba { color: rgba(3, 191, 69, 1); }
.Rozetka---Redesign-Concept-3-rgba { color: rgba(3, 165, 60, 1); }
.Rozetka---Redesign-Concept-4-rgba { color: rgba(7, 140, 53, 1); }
.Rozetka---Redesign-Concept-5-rgba { color: rgba(16, 89, 42, 1); }

/* Color Theme Swatches in HSLA */
.Rozetka---Redesign-Concept-1-hsla { color: hsla(326, 96, 7, 1); }
.Rozetka---Redesign-Concept-2-hsla { color: hsla(140, 96, 38, 1); }
.Rozetka---Redesign-Concept-3-hsla { color: hsla(140, 96, 33, 1); }
.Rozetka---Redesign-Concept-4-hsla { color: hsla(140, 90, 28, 1); }
.Rozetka---Redesign-Concept-5-hsla { color: hsla(140, 68, 20, 1); }
